<h1>Add Response</h1>
<%= form_with model: @response, url: auth_responses_create_path, class: "form-group" do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.text_field :body %>
  <%= f.submit "Create" %>
<% end %>
