<h1>Edit Questions</h1>
<%= form_with model: @question, url: auth_questions_update_path(qid: @question.id), class: "form-group" do |f| %>
    <div class="container-center">
      <h2>
      <label for="exampleFormControlTextarea1">Title</label>
      <br>
      </h2>
        <%= f.text_field :title, size: "60x8" %>
    </div>
    <div class="container-center">
      <h2>
      <label for="exampleFormControlTextarea1">Body</label>
      </h2>
      <br>
      <%= f.text_area :body, size: "60x8" %>
    </div>
    <div class="container-center">
      <h2>
      <label for="exampleFormControlTextarea1">What Have You Tried?</label>
      </h2>
      <br>
      <%= f.text_area :whyt, size: "60x4" %>
    </div>
    <%= f.submit "Complete Edit" %>
  <% end %>
